body {
    display: grid;
    background-color: #93c7f4;
    font-family: "Fira Code";
    color: #224d73;
    grid-template-columns: 45% 55%;
}

h1 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 20px;
}

li {
    font-family: "Fira Code";
}

.github {
    margin-left: 20px;
}

.us-flag {
    height: 100px;
    width: 200px;
}

figure {
    margin-left: 20px;
}

.me-photo {
    height: 150px;
    width: 150px;
}

.about-me-p {
    min-width: 300px;
    max-width: 600px;
    text-align: justify;
    font-family: "Optima";
    font-size: 20px;
    font-weight: 0;
    margin-left: 20px;
}

.location {
    font-weight: bold;
}

.me-photo {
    margin-left: 0;
    width: 150px;
    height: 150px;
}

fieldset {
    max-width: 500px;
    color: #224d73;
    border-color: #224d73;
    padding-left: 5px;
    border-radius: 5px;
}

legend {
    font-style: italic;
    font-size: smaller;
    font-weight: 400;
    margin-left: 25px;
}

.form-section {
    display: flex;
    align-items: flex-end;
}

form {
    width: 100%;
    padding-bottom: 20px;
}

.form-textbox {
    margin: 2.5px;
    background-color: #93c7f4;
    font-family: "Fira Code";
    border-radius: 5px;
    border-color: #224d73;
    border-style: ridge;
    color: #224d73;
}

.form-textbox::placeholder {
    font-size: 13px;
}

.large-textarea {
    margin: 2px;
    color: #224d73;
    font-family: "Fira Code";
    font-size: 13px;
    border-radius: 5px;
    border-color: #224d73;
    height: 100px;
    width: 50%;
    margin-top: 10px;
}

.large-textarea::placeholder {
    color: #656b70;
    font-family: "Fira Code";
}

input::placeholder {
    color: #656b70;
}

#form-submit-button {
    color: #224d73;
    font-weight: bold;
}

#form-submit-button:active {
    background-color: #0dff00;
}
