body {
    background-color: #93c7f4;
    font-family: "Fira Code";
    margin: 1% 3% 5%;
    color: #224d73;
}

h1 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 10px;
}

section {
    margin: auto;
}

li {
    font-family: "Fira Code";
}

.about-me-p {
    min-width: 300px;
    max-width: 600px;
    text-align: justify;
    font-family: "Optima";
    font-size: 20px;
    font-weight: 0;
}

.location {
    font-weight: bold;
}

.me-photo {
    margin-left: 0;
}

fieldset {
    width: 35%;
    color: #224d73;
    border-color: #224d73;
    padding-left: 5px;
    border-radius: 5px;
}

legend {
    font-style: italic;
    font-size: smaller;
    font-weight: 400;
    margin-left: 25px;
}

.form-textbox {
    margin: 2.5px;
    background-color: #93c7f4;
    font-family: "Fira Code";
    border-radius: 5px;
    border-color: #224d73;
    border-style: ridge;
    color: #224d73;
}

.large-textarea {
    margin: 2px;
    color: #224d73;
    font-family: "Fira Code";
    font-size: 13px;
    border-radius: 5px;
    border-color: #224d73;
    height: 100px;
    width: 100%;
}

.large-textarea::placeholder {
    color: #656b70;
    font-family: "Fira Code";
}

input::placeholder {
    color: #656b70;
}

#form-submit-button {
    color: #224d73;
    font-weight: bold;
}

#form-submit-button:active {
    background-color: #0dff00;
}
